@use './variables' as variables;

@mixin btn() {
	font-size: variables.$font-size;
	background-color: #3632e3;
	border-radius: 15px;
	margin: 2em 0 0 0;
	color: #fff;
	padding: 0.4em;
}

@mixin title {
	font-size: variables.$h2-font-size;
	font-weight: bold;
	color: #fff;
	margin-bottom: 1.5em;
	text-align: center;
}

@mixin subtitle {
	font-size: variables.$h3-font-size;
	font-weight: 700;
	color: #fff;
	margin-bottom: 1em;
}

@mixin img($link) {
	background-image: url($link);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


