@use './colors' as colors;
@use './variables' as variable;
@use './mixins' as mixin;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font: inherit;
}

.wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 4em 1.8em 4em;
}

// Ważna rzecz, trzeba dodać zmienne z każdą wielkością odpowiedniego fonta

body {
	font-family: 'League Spartan', sans-serif;
	background-color: colors.$main-section-color;
	height: 100%;
}

a {
	text-decoration: none;
}

.sticky-body {
	overflow: hidden;
}

.header {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	height: 70px;
	background-color: #000000;
	z-index: 3;
}

.nav {
	height: 100%;
	&__container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5em 2em;
	}

	&__logo {
		color: #208390;
		text-shadow: 1px 1px 0px #74eeff;
		font-weight: 700;
		font-size: 1.5rem;

		span {
			color: #fff;
		}
		z-index: 3;
	}

	&__navbar {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		padding: 0.5em 2em;
		background-color: #061017;
		transform: translateX(120%);
		transition: transform 0.4s;
		overflow: hidden;

		&--active {
			transform: translateX(0);
		}
	}

	&__links {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	li {
		padding: 0.5em 0.5em;
		margin: 4em 0;
		text-align: center;
	}

	&__link {
		color: colors.$main-font-color;
		font-size: 1.5rem;
		font-weight: 500;
		text-transform: uppercase;
		transition: color 0.3s;

		&:hover {
			color: colors.$hover-color;
		}
	}
}

.intro {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100svh - 60px);
	width: 100%;
	background: linear-gradient(179deg, #061017 18.72%, #000f21 52.13%, #0c1827 99.17%);
	&__blob {
		position: absolute;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		&--top {
			height: 196px;
			width: 230px;
			right: 0px;
			top: -1px;
			background-image: url(../img/visual-effect.svg);
		}

		&--bottom {
			height: 196px;
			width: 230px;
			left: 0;
			bottom: -1px;
			background-image: url(../img/visual-effect-bottom.svg);
		}
	}

	&__3d-object {
		position: absolute;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		&--first {
			height: 50px;
			width: 40px;
			top: 70px;
			left: 50px;
			background-image: url(./../img/Cube-1.svg);
			animation: rotate 20s infinite ease-in-out;
		}
		&--second {
			height: 50px;
			width: 40px;
			top: 40px;
			right: 50px;
			background-image: url(./../img/RoundCube-1.svg);
			animation: move 20s infinite ease-in;
		}
		&--third {
			height: 50px;
			width: 40px;
			bottom: 50px;
			right: 60px;
			background-image: url(./../img/SuperToroid-2.svg);
			animation: move 10s infinite reverse;
		}

		@keyframes rotate {
			from {
				transform: translate(0%);
				transform: rotate(360deg);
			}

			50% {
				transform: translate(10%);
				transform: rotate(0);
			}

			to {
				transform: translate(0%);
				transform: rotate(360deg);
			}
		}

		@keyframes move {
			from {
				transform: translate(0) translateY(0) rotate(0);
			}

			50% {
				transform: translate(50%) translateY(-10%) rotate(120deg);
			}

			to {
				transform: translate(0) translate(0) rotate(0);
			}
		}
	}

	.wrapper {
		padding: 8em 2em;
	}

	&__text-box {
		text-align: center;
		z-index: 2;
	}

	&__title {
		font-weight: 700;
		font-size: 2.5rem;
		color: #fff;
		margin: 0 0 0.5em 0;
		background: linear-gradient(270deg, #fff 5.92%, rgba(208, 205, 205, 0.98) 92.91%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__subtitle {
		font-size: 1.4rem;
		font-weight: 300;
		color: colors.$second-font-color;
	}

	&__projects-btn {
		position: relative;
		align-self: center;
		width: 160px;
		height: 40px;
		z-index: 2;

		// mixin
		@include mixin.btn;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: #fff;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}

.projects {
	&__title {
		@include mixin.title;
	}

	&__cards {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__card {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		height: 300px;
		width: 100%;

		background-color: #3632e3;
		border-radius: 10px;
		margin-bottom: 3em;
		background-image: url(./../img/placeholder-img.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&-box {
			padding: 2em 2em 0.5em 2em;
		}

		&-title {
			font-size: 1.5rem;
			font-weight: 600;
			color: #fff;
			margin-bottom: 0.5em;
		}

		&-text {
			font-size: 1rem;
			color: #d9d6d6;
			font-weight: 400;
			margin-bottom: 0.5em;
		}
		&-technologies {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 40px;
			width: 100%;
			padding: 0 2em;
		}

		&-technology {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 50px;
			height: 20px;
			margin: 0.5em 0.5em 2em 0;
			margin-right: 0.5em;
			margin-bottom: 2em;
			font-size: 0.7rem;
			padding: 1em 1em;
			color: #fff;
			font-weight: 500;
			background-color: #3632e3;
			border-radius: 10px;
		}
	}

	&__btn {
		position: relative;
		font-size: 1.2rem;
		color: #fff;
		align-self: center;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			background-color: #3632e3;
			bottom: -6px;
			border-radius: 10px;
			left: 0;
		}
	}
}

.about-me {
	background-color: colors.$second-section-color;
	&__title {
		@include mixin.title;
	}
	&__hero-img {
		width: 100%;
		height: 300px;
		margin-bottom: 3em;
	}

	&__subtitle {
		font-size: 1.5rem;
		color: #fff;
		font-weight: 700;
		margin-bottom: 1em;
	}

	&__text {
		font-size: 1.2rem;
		color: #d9d6d6;
		margin-bottom: 1em;
	}
	&__text-box {
		width: 100%;
		padding: 2em 0 0em 0;
	}
}

.skills {
	&__title {
		@include mixin.title;
	}

	&__technologies-icons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		max-width: 400px;
	}

	&__technology-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		width: 80px;
		border-radius: 10px;
		margin: 0.5em 1em 0.5em 0;

		&:nth-child(1) {
			background-color: #f16529;
		}
		&:nth-child(2) {
			background-color: #1572b6;
		}
		&:nth-child(3) {
			background-color: #cb6699;
		}
		&:nth-child(4) {
			background-color: #f0db4f;
		}
		&:nth-child(5) {
			background-color: #2f323a;
		}
		&:nth-child(6) {
			background-color: #f34f29;
		}
		&:nth-child(7) {
			background-color: #61dafb;
		}
		&:nth-child(8) {
			background-color: #ffffff;
		}
	}

	&__text-box {
		padding-top: 3em;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 1.5rem;
		color: #fff;
		margin-bottom: 1em;
	}

	&__info {
		color: #d9d6d6;
		font-size: 1.2rem;
	}
}

.service {
	background-color: colors.$second-section-color;
	&__title {
		@include mixin.title;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 4em;
	}

	&__card {
		position: relative;
		background-color: #213042;
		border-radius: 10px;
		padding: 1.5em;
		padding-top: 4.5em;
		margin-bottom: 5em;

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 90px;
			width: 90px;
			top: -45px;
			background-color: #6663ff;
			border-radius: 10px;
		}

		&-title {
			font-size: 1.2rem;
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;
			margin-bottom: 1em;
		}

		&-text {
			color: #cacaca;
		}

		&:nth-child(3) {
			margin-bottom: 0;
		}
	}
}

.contact {
	&__title {
		@include mixin.title;
	}
}
